*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header content */

li{
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu';
    font-weight: 700;
}

i{
    padding: 10px;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.site-logo{
    margin-right: 140px;
}

.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1000;
    background-color: #ff6900;
    
}

.main-logo{
    width:200px;
    padding: 5px;
}

.position-fixed{
    position: fixed;
}

/* Fine header */

/* inizio main */

main{
    padding-top: 100px;
    margin: 0px 10px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.justify-content-center{
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: 400px;
}

.h-500{
    height: 500px;
}
 

.bg-black{
    background-color: rgb(150, 57, 57);
}

.b-black{
    border: 1px black solid;
}



