*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header content */

header{
    background-color: #ff6900;
}

li{
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu';
    font-weight: 700;
}

i{
    padding: 10px;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.site-logo{
    margin-right: 140px;
}

.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-logo{
    width:200px;
    padding: 5px;
}

/* Fine header */



